
<html>
<head>


.p1 {
  background-color: blue;
  color: yellowgreen;
  text-align: center;
  margin: 10px;
}

.T1 {
  background-color: darkblue;
  color: white;
  text-align: center;
  margin: 10px;
}

.T2 {
  background-color: darkblue;
  color: black;
  text-align: center;
  margin: 10px;
}

.S2 {
  background-color: yellowgreen;
  color: black;
  text-align: center;
}

</head>
</html>

